:root {
  /* Шрифти Google fonts */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /* Основний колір тексту */
  --main-text-color: #212121;
  /* Другорядний колір тексту */
  --second-text-color: #757575;
  /* Білий колір тексту*/
  --white-text-color: #ffffff;
  /* Колір акценту */
  --accent-text-color: #2196f3;
  /* Колір фону */
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: var(--accent-text-color);
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Flex-basis(width): calc((100% - к-сть марджинів в рядку * значення марджину) / к-сть элементів в рядку); */

/* Шапка */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-flex {
  display: flex;
  align-items: center;
}
.header-link {
  color: var(--main-text-color);
  font-family: var(--second-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.nav {
  margin-left: 93px;
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-icon {
  margin-right: 10px;

  fill: currentColor;
}
.header-list-link {
  display: flex;
  align-items: center;

  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--background-color);
  background-image: url('../images/mountains_forest.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white-text-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-btn {
  display: inline-block;
  min-width: 216px;
  min-height: 50px;
  padding: 8px 29px;

  color: var(--white-text-color);
  font-family: var(--main-font);
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  font-weight: 700;

  background-color: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #2196f3;
}

/* Advantages */
.advantages-list {
  display: flex;
  justify-content: center;
}
.advantages-item {
  max-width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--second-background-color);
}
.advantages-subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

/* work */
.work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
}
.work-list-item:not(:last-child) {
  margin-right: 30px;
}

/* team */
.team {
  background-color: var(--second-background-color);
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);

  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.inner-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list-title {
  margin-bottom: 10px;

  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-list-text {
  color: var(--second-text-color);
  letter-spacing: 0.48px;
}
.team-sublist {
  display: flex;
  justify-content: center;

  margin-top: 16px;
}
.team-subitem:not(:last-child) {
  margin-right: 10px;
}
.team-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
}
.team-link:hover,
.team-link:focus {
  background-color: var(--accent-text-color);
}
.team-link:hover .team-icon,
.team-link:focus .team-icon {
  fill: var(--white-text-color);
}
.team-icon {
  fill: #afb1b8;
}
/* clients */
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  /* display: inline-flex;
  justify-content: center;
  align-items: center; */
  display: inline-block;
  padding: 16px 32px;
  max-width: 170px;
  max-height: 92px;

  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-text-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-text-color);
}
.clients-icon {
  fill: #afb1b8;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-link {
  color: var(--white-text-color);
  font-family: var(--second-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.address {
  margin-top: 20px;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list-desc {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.address-list-link {
  color: var(--second-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--white-text-color);
}
.footer-wrapper {
  margin-left: 70px;
}
.footer-text {
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer-list {
  display: flex;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}
.footer-sublink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-sublink:hover,
.footer-sublink:focus {
  background-color: var(--accent-text-color);
}

/* Portfolio */
.portfolio {
  /* background-color: rgb(201, 171, 171); */
}
.portfolio-upperlist {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-upperlist-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-upperlist-btn {
  display: inline-block;
  padding: 6px 22px;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  background-color: var(--second-background-color);

  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.portfolio-upperlist-btn:hover,
.portfolio-upperlist-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}
.portfolio-sublist {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin: -15px; */
}
.portfolio-subitem {
  /* flex-basis: calc((100% - 6 * 15px) / 3);
  margin: 15px; */
  width: calc((100% - 2 * 30px) / 3);
}
.portfolio-subitem:hover,
.portfolio-subitem:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-wrapper {
  padding: 20px 24px;

  border: 1px solid #eee;
  border-top: none;
  background-color: var(--white-text-color);
}
.portfolio-subtitle {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}
.portfolio-text {
  color: var(--second-text-color);
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}
