body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
span {
  color: var(--accent-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  // max-width: 1200px; responsiv
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // adaptive
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.title {
  @media screen and(min-width:320px) and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
  }

  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.section {
  @media screen and(min-width:320px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}

/* Flex-basis(width): calc((100% - к-сть марджинів в рядку * значення марджину) / к-сть элементів в рядку); */
